<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="col-md-6 mx-auto">
	<div class="form-inline">
		<%= link_to user_path(visitor) do %>
		<% if visitor.profile_image? %>
		<%= image_tag visitor.profile_image.url, :size => '40x40',class:"rounded-circle" %>
		<% else %>
		<%= image_tag "/assets/no-image-icon.jpg", :size => '40x40',class:"rounded-circle"%>
		<% end %>
		<% end %>
		<%= visitor.nickname %><span>さんが</span>
		<% case notification.action %>
		<% when 'follow' then %>
		<%= "あなたをフォローしました" %>
		<% end %>
	</div>
</div>
