<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="container border-bottom">
	<div class="form-inline " style="padding: 10px 0 ;">
		<%= link_to user_path(visitor) do %>
		<% if visitor.profile_image? %>
		<%= image_tag visitor.profile_image.url, :size => '40x40',class:"rounded-circle" %>
		<% else %>
		<%= image_tag "no-image-icon.jpg", :size => '40x40',class:"rounded-circle"%>
		<% end %>
		<% end %>
		<%= visitor.nickname %><span>さんが</span>
		<% case notification.action %>
		<% when 'follow' then %>
		<%= "あなたをフォローしました。" %>
		<% when 'direct_message' then %>
		<%= "あなたにメッセージを送信しました。" %>
		<% end %>
	</div>
	<div class="text-right">
	<%= time_ago_in_words(notification.created_at).upcase %>
	</div>
	
</div>
