<%= render 'layouts/user_header' %>
<div class="container">
	<div class="row">
		<div class="col-12">
			<h4>スキル検索</h4>
			<!--posts一覧-->
			<div class="table table-hover table-responsive">
				<table class="table text-nowrap">
					<thead>
					    <tr>
					      <th></th>
					      <th>ニックネーム</th>
					      <th>スキル1</th>
					      <th>スキル2</th>
					      <th>自己紹介</th>
					    </tr>
					 </thead>
					 <% @users.reverse_each do |user| %>
					<tbody>
						<tr>
							<th scope="row">
								<%= link_to user_path(user) do %>
								<% if user.profile_image? %>
								<%= image_tag user.profile_image.url, :size => '64x64',class:"rounded-circle" %>
								<% else %>
								<%= image_tag "/assets/no-image-icon.jpg", :size => '64x64',class:"rounded-circle" %>
								<% end %>
								<% end %>
							</th>
							<td class="align-middle"><%= user.nickname %></td>
							<td class="align-middle"><%= user.skill %></td>
							<td class="align-middle"><%= user.second_skill %></td>
							<td class="align-middle"><%= user.introduction %></td>
						</tr>
					</tbody>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/user_footer' %>
