<%= render 'layouts/user_header' %>
<div class="container mb-5">
	<div class="row">
			<div class="col-lg-8" style="color:inherit; color: black;">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li class="nav-item" role="presentation">
						<a href="#timeline" id="home-tab" class="nav-link active" role="tab" data-toggle="tab" aria-controls="home" aria-selected="true">タイムライン</a>
					</li>
					<li class="nav-item" role="presentation">
						<a href="#recruitment" id="profile-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="profile" aria-selected="false">募集</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-8" style="height:800px; overflow:auto; padding:10px; background-color:  #fffaf0;">
			<!-- パネル部分 -->
			<div id="myTabContent" class="tab-content mt-3"><!-- タイムライン部分 -->
				<div id="home" class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
					<% @posts.reverse_each do |post| %>
					<div class="media" style="margin-top: 20px;">
						<div class="media-left media-top text-center" style="margin-left: 20px;">
							<% if post.user.profile_image? %>
							<%= image_tag post.user.profile_image.url, :size => '64x64',class:"rounded-circle" %>
							<% else %>
							<%= image_tag "no-image-icon.jpg", :size => '64x64',class:"rounded-circle" %>
							<% end %>
						</div>
						<div class="media-body" style="margin-left: 20px;">
							<div class="nickname" style="margin-bottom: 5px;">
								<strong><%= post.user.nickname %></strong>・<%= time_ago_in_words(post.created_at).upcase %>
							</div>
							<p class="media-heading"><%= post.body %></p>
							<iframe width="95%" height="350" src="https://www.youtube.com/embed/<%= post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<% if post.user == current_user %>
							<div class="dropdown text-right">
								<!-- 切替ボタンの設定 -->
								<button type="button" class="btn btn-white btn-sm dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<div class="dropdown-item">
										<%= link_to "編集", edit_post_path(post), class: "btn btn-outline-info btn-block role=button aria-pressed=true" %>
									</div>
									<div class="dropdown-item">
										<%= link_to "削除", post_path(post), method: :delete, remote: true, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-outline-danger btn-block role=button aria-pressed=true" %>
									</div>
								</div>
							</div>
							<% end %>
						</div>
					</div>
					<% end %>
				</div>
				<!-- 募集部分 -->
				<div id="profile" class="tab-pane fade" role="tabpanel" aria-labelledby="profile-tab">
					　<% @recruitment_posts.reverse_each do |recruitment_post| %>
					<div class="media">
						<div class="media-left media-top">
							<% if recruitment_post.user.profile_image? %>
							<%= image_tag recruitment_post.user.profile_image.url, :size => '64x64',class:"rounded-circle" %>
							<% else %>
							<%= image_tag "no-image-icon.jpg", :size => '64x64',class:"rounded-circle" %>
							<% end %>
						</div>
						<div class="media-body" style="margin-left: 20px;">
							<% if recruitment_post.user == current_user %>
							<div class="dropdown text-right">
								<!-- 切替ボタンの設定 -->
								<button type="button" class="btn btn-white btn-sm dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<div class="dropdown-item">
										<%= link_to "編集", edit_recruitment_post_path(recruitment_post), class: "btn btn-outline-info btn-block role=button aria-pressed=true" %>
									</div>
									<div class="dropdown-item">
										<%= link_to "削除", recruitment_post_path(recruitment_post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-outline-danger btn-block role=button aria-pressed=true" %>
									</div>
								</div>
							</div>
							<% end %>
							<h5 class="media-heading"><strong><%= recruitment_post.title %></strong></h5>
							<p class="media-heading"><%= recruitment_post.body %></p>
							<iframe width="95%" height="350" src="https://www.youtube.com/embed/<%= recruitment_post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-lg-3 offset-lg-1">
			<%= render 'users/profile', user: @user, is_room: @is_room, room_id: @room_id, room: @room, entry: @entry %>
		</div>
	</div>
</div>

<%= render 'layouts/user_footer' %>

