<%= render 'layouts/user_header' %>
<div class="container">
	<div class="row">
		<div class="col-3">
			<div class="profile_image">
				<% if @user.profile_image? %>
				<%= image_tag @user.profile_image.url, :size => '100x100' %>
				<% else %>
				<%= image_tag "/assets/no-image-icon.jpg", :size => '100x100' %>
				<% end %>
		    </div>
		    <div class="">
		    	<%= @user.nickname %><br/>
		    	<%= @user.introduction %><br/>
		    	<%= @user.skill %><br/>
		    	<%= link_to "編集", edit_user_path, class: "btn btn-outline-info active role=button aria-pressed=true" %>
		    </div>
		</div>
		<div class="col-9">
			<h3>タイムライン</h3>
			<!--posts一覧-->
			<% @posts.reverse_each do |post| %>
			<div class="media">
				<div class="media-left media-top">
					<% if post.user.profile_image? %>
					<%= image_tag post.user.profile_image.url, :size => '50x50' %>
					<% else %>
					<%= image_tag "/assets/no-image-icon.jpg", :size => '50x50' %>
					<% end %>
					<div class="nickname">
					<%= post.user.nickname %>
				    </div>
				</div>
				<div class="media-body">
					<p class="media-heading"><%= post.body %></p>
					<iframe width="500" height="180" src="https://www.youtube.com/embed/<%= post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>