<%= render 'layouts/user_header' %>

<main role="main" style="margin-top: 50px;">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-5">ようこそ!</h1>
      <p class="lead">本サイトはクリエイティブなスキルを持っているあなた、まさに今勉強中のあなたを手助けするサイトです。<br/>
      同ジャンルにとどまらず、他ジャンル同士でも繋がることができます。そんなスキルとスキルのマッチングサイトです。</p>
    </div>
  </div>

  <div class="container marketing">
    <!-- 新着の募集3件 -->
    <div class="row">
      <div class="col-lg-12 text-center" style="height: 100px;" >
        <h2>新着募集</h2>
      </div>
      <div class="col-lg-12">
        <div class="row">
        <% @recruitment_posts.last(6).reverse_each do |recruitment_post| %>
        <div class="media media-home col-lg-6">
          <div class="media-left media-top">
            <%= link_to user_path(recruitment_post.user) do %>
              <% if recruitment_post.user.profile_image? %>
              <%= image_tag recruitment_post.user.profile_image.url, :size => '64x64',class:"rounded-circle" %>
              <% else %>
              <%= image_tag "/assets/no-image-icon.jpg", :size => '64x64',class:"rounded-circle" %>
              <% end %>
            <% end %>
          </div>
          <div class="media-body" style="margin-left: 20px;">
            <div class="nickname" style="margin-bottom: 5px;">
              <%= recruitment_post.user.nickname %>
            </div>
            <h5 class="media-heading"><strong><%= recruitment_post.title %></strong></h5>
            <p><%= recruitment_post.body %></p>
            <div class="media-children" style="margin-bottom: 0px;">
            <iframe width="140%" height="280" src="https://www.youtube.com/embed/<%= recruitment_post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      </div>
    </div><!-- /.row -->

    <!-- フィーチャーを開始 -->
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">最初のフィーチャータイトル。<span class="text-muted">それはあなたの心を吹き飛ばすだろう。</span></h2>
        <p class="lead">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"><title>一般的なプレースホルダ画像</title><rect fill="#eee" width="100%" height="100%"/><text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">ああ、それは良いことだ。<span class="text-muted">自分で見て。</span></h2>
        <p class="lead">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"><title>一般的なプレースホルダ画像</title><rect fill="#eee" width="100%" height="100%"/><text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">そして、最後に、これ。<span class="text-muted">チェックメイト。</span></h2>
        <p class="lead">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"><title>一般的なプレースホルダ画像</title><rect fill="#eee" width="100%" height="100%"/><text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">
    <!-- /フィーチャーを終了 -->

  </div><!-- /.container -->
</main>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>