<%= render 'layouts/user_header' %>

<main role="main" style="margin-top: 50px;">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-5">ようこそ!</h1>
      <p class="lead">本サイトはクリエイティブなスキルを持っているあなた、まさに今勉強中のあなたを手助けするサイトです。<br/>
      同ジャンルにとどまらず、他ジャンル同士でも繋がることができます。そんなスキルとスキルのマッチングサイトです。</p>
    </div>
  </div>

  <div class="container-fluid marketing" style=" background-color: #fffaf0;">
    <!-- 新着の募集3件 -->
    <div class="row" >
      <div class="col-lg-12 text-center" style="height: 100px;" >
        <h2>新着募集</h2>
      </div>
      <div class="col-lg-10 offset-lg-1">
        <div class="row">
        <% @recruitment_posts.last(6).reverse_each do |recruitment_post| %>
        <div class="media media-home col-lg-6">
          <div class="media-left media-top">
            <%= link_to user_path(recruitment_post.user) do %>
              <% if recruitment_post.user.profile_image? %>
              <%= image_tag recruitment_post.user.profile_image.url, :size => '64x64',class:"rounded-circle" %>
              <% else %>
              <%= image_tag "/assets/no-image-icon.jpg", :size => '64x64',class:"rounded-circle" %>
              <% end %>
            <% end %>
          </div>
          <div class="media-body" style="margin-left: 20px;">
            <div class="nickname" style="margin-bottom: 5px;">
              <%= recruitment_post.user.nickname %>
            </div>
            <h5 class="media-heading"><strong><%= recruitment_post.title %></strong></h5>
            <p><%= recruitment_post.body %></p>
            <div class="media-children" style="margin-bottom: 0px;">
            <iframe width="140%" height="280" src="https://www.youtube.com/embed/<%= recruitment_post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</main>
<%= render 'layouts/user_footer' %>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>