<%= render 'layouts/user_header' %>
<div class="container">
  <div class="row">
    <div class="offset-3 col-6">
      <div class="text-center mb-4">
        <img class="mb-4" src="/assets/skiller2.png" alt="" width="150" height="70">
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"メールアドレス", style: "margin-top: 30px;", required: true %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"パスワード(6文字以上)", style: "margin-top: 30px;", required: true %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-success btn-block", style: "margin-top: 30px;" %>
      </div>
      <% end %>

    </div>
  </div>
</div>
