<%= render 'layouts/user_header' %>
<div class="container mb-5">
	<div class="row">
		<div class="col-lg-8 offset-lg-2 dm_list">
			<h4>DM一覧</h4>
			<% @rooms.each do |room| %>
			<div class="dm_list__content border">
				<%= link_to room_path(room), class: "dm_list__content__link" do %>
				<div class="dm_list__content__link__box">
					<div class="dm_list__content__link__box__name">
						<%= opponent_user(room) %>
					</div>
					<% end %>
					<div class="dm_list__content__link__box__message">
						<%= most_new_message_preview(room) %>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
<%= render 'layouts/user_footer' %>

