<%= render 'layouts/user_header' %>
<h1>DM</h1>

<h4>参加者</h4>
<% @entries.each do |f| %>
  <h5><strong><a href="/users/<%= f.user.id %>"><%= f.user.nickname%>さん</a></strong></h5>
<% end %>

<hr>
<% if @direct_messages.present? %>
  <% @direct_messages.last(10).each do |f| %>
    <strong><%= f.message %></strong>
    <small>by <strong><a href="/users/<%= f.user_id %>"><%= f.user.nickname %>さん</a></strong></small>
    <hr>
  <% end %>
<% else %>
  <h3 class="text-center">メッセージはまだありません</h3>
<% end %>

<%= form_for @direct_message do |f| %>
  <%= f.text_field :message, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <br>
  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "ユーザー一覧に戻る", users_path %>
<%= render 'layouts/user_footer' %>