<%= render 'layouts/user_header' %>
<div class="container mb-5">
  <div class="row">
    <div class="ol-lg-9 offset-3">
       <%= link_to "戻る", rooms_path %>
    </div>
    <div class="col-lg-6 offset-lg-3 col-xs-12">
      <div class="dm_list__content__link__box__name text-center">
        <%= opponent_user(@room) %>
      </div>
      <% if @direct_messages.present? %>
      <% @direct_messages.last(20).each do |direct_message| %>
      　<% if direct_message.user == current_user %>
      <div class="text-right">
        <div class="rounded-pill p-2" style="background-color: #00ffff; display: inline-block;">
          <%= direct_message.message %>
        </div>
      </div>
      <% else %>
      <div class="">
        <%= link_to user_path(direct_message.user) do %>
          <% if direct_message.user.profile_image? %>
          <%= image_tag direct_message.user.profile_image.url, :size => '40x40',class:"rounded-circle" %>
          <% else %>
          <%= image_tag "no-image-icon.jpg", :size => '40x40',class:"rounded-circle" %>
          <% end %>
          <div class="rounded-pill p-2" style="background-color: #faf0e6; display: inline-block;">
        <% end %>
          <%= direct_message.message %>
        </div>
      </div>
      <% end %>
      <% end %>
      <% else %>
      <h3 class="text-center">メッセージはまだありません</h3>
      <% end %>
    </div>
  </div>

    <div class="row">
      <div class="col-lg-4 offset-lg-4">
        <%= form_for @direct_message do |f| %>
        <%= f.text_field :message, :placeholder => "メッセージを入力して下さい", class:"form-control rounded-pill p-2", style: "margin-top:50px;", rows:"7px", required: true %>
        <%= f.hidden_field :room_id, :value => @room.id %>
      </div>
      <div class="col-lg-1 mb-5 text-right">
        <%= f.submit "送信", class: "btn btn-outline-warning role=button active aria-pressed=true card-link rounded-pill", style: "margin-top:50px;" %>
        <% end %>
      </div>
    </div>

</div>
<%= render 'layouts/user_footer' %>