<%= render 'layouts/user_header' %>
<div class="container">
	<div class="row">
		<div class="col-8">
			<h3>タイムライン</h3>
			<!--posts一覧-->
			<% @posts.reverse_each do |post| %>
			<div class="media">
				<div class="media-left media-top">
					<%= link_to user_path(post.user) do %>
					<% if post.user.profile_image? %>
					<%= image_tag post.user.profile_image.url, :size => '64x64' %>
					<% else %>
					<%= image_tag "/assets/no-image-icon.jpg", :size => '64x64' %>
					<% end %>
					<div class="nickname">
					<%= post.user.nickname %>
				    </div>
				    <% end %>
				</div>
				<div class="media-body">
					<p class="media-heading"><%= post.body %></p>
					<iframe width="500" height="180" src="https://www.youtube.com/embed/<%= post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<% end %>
		</div>
		<div class="col-4">
			<div class="form-inline my-2 my-lg-0">
			<%= form_with url:recruitment_posts_path, :method => 'get', local: true do %>
			  <%= text_field_tag :search, params[:search], class:"form-control mr-sm-2", type:"search", placeholder:"投稿検索" %>
			  <%= submit_tag 'Search', :name => nil, class:"btn btn-outline-info my-2 my-sm-0" %>
			<% end %>
		    </div>
			<h3>投稿</h3>
			<%= form_for(@post) do |f| %>
			<div class="field row">
				<%= f.label :投稿 %>
				<%= f.text_area :body %><br/>
			</div>
			<div class="field row">
				<%= f.label :YouTube %>
				<%= f.text_field :youtube_url %>
			</div>
			<div class="actions row">
				<%= f.submit class: "btn btn-primary" %>
			</div>
			<% end %>
		</div>
	</div>
</div>