<%= render 'layouts/user_header' %>
<div class="container">
	<div class="row">
		<div class="col-lg-7" style="height:800px; overflow:auto; padding:10px;">
			<!--タイムライン-->
			<% @posts.last(100).reverse_each do |post| %>
			<div class="media" style="margin-top: 20px;">
				<div class="media-left media-top text-center" style="margin-top: 10px; padding-left:10px;">
					<%= link_to user_path(post.user) do %>
					<% if post.user.profile_image? %>
					<%= image_tag post.user.profile_image.url, :size => '64x64',class:"rounded-circle" %>
					<% else %>
					<%= image_tag "/assets/no-image-icon.jpg", :size => '64x64',class:"rounded-circle" %>
					<% end %>
					<% end %>
				</div>
				<div class="media-body" style="margin-left: 30px;">
					<div class="nickname" style="margin-bottom: 5px;">
					<strong><%= post.user.nickname %></strong>
				    </div>
					<p class="media-heading"><%= post.body %></p>
					<iframe width="100%" height="230" src="https://www.youtube.com/embed/<%= post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<% end %>
		</div>
		<div class="offset-lg-1 col-lg-4">
			<%= form_for(@post, remote: true) do |f| %>
			<div class="field row">
				<%= f.text_area :body, class:"form-control", style: "margin-top: 30px;", rows:"7px", placeholder:"投稿", required: true  %>
			</div>
			<div class="field row">
				<%= f.text_field :youtube_url, class:"form-control", style: "margin-top: 30px;", placeholder:"YouTube_URL", required: true  %>
			</div>
			<div class="actions row">
				<%= f.submit "投稿", class: "btn btn-primary btn-block", style: "margin-top: 30px;" %>
			</div>
			<% end %>
		</div>
	</div>
</div>
<%= render 'layouts/user_footer' %>
