<%= render 'layouts/user_header' %>
<div class="container mb-5 mt-5">
  <h5>タイムライン</h5>
	<div class="row">
	    <div class="col-lg-4 mb-5">
			<%= form_with url:posts_path, :method => 'get', local: true do %>
			<div class="row">
		      	<div class="col-9">
				<%= text_field_tag :search, params[:search], value:"", class:"form-control mr-sm-2", type:"search", placeholder:"投稿をさがす" %>
				</div>
				<div class="col-3">
				<%= submit_tag '検索', :name => nil, class:"btn btn-outline-info my-2 my-sm-0" %>
			  	</div>
			</div>
			  <% end %>
			<%= form_for(@post, remote: true) do |f| %>
			<div class="field row pr-3 pl-3">
				<%= f.text_area :body, class:"form-control", style: "margin-top: 30px;", rows:"7px", placeholder:"本文", required: true  %>
			</div>
			<div class="field row pr-3 pl-3">
				<%= f.text_field :youtube_url, class:"form-control", style: "margin-top: 30px;", placeholder:"YouTubeのURLを貼ってください", required: true  %>
			</div>
			<div class="actions row pr-3 pl-3">
				<%= f.submit "投稿", class: "btn btn-outline-primary btn-block", style: "margin-top: 30px;" %>
			</div>
			<% end %>
		</div>
		<div class="offset-lg-1 col-lg-7" style="height:800px; overflow:auto; padding:10px;">
			<!--タイムライン-->
			<% @posts.last(100).reverse_each do |post| %>
			<div class="time_line border mb-3" style=" background-color: white;">
				<div class="media mt-3 mb-2" >
					<div class="media-left media-top text-center" style="margin-top: 10px; padding-left:10px;">
						<%= link_to user_path(post.user) do %>
						<% if post.user.profile_image? %>
						<%= image_tag post.user.profile_image.url, :size => '64x64',class:"rounded-circle" %>
						<% else %>
						<%= image_tag "no-image-icon.jpg", :size => '64x64',class:"rounded-circle" %>
						<% end %>
						<% end %>
					</div>
					<div class="media-body ml-3">
						<div class="nickname" style="margin-bottom: 5px;">
						<strong><%= post.user.nickname %></strong>・<%= time_ago_in_words(post.created_at).upcase %>
						</div>
						<p class="media-heading"><%= post.body %></p>
					</div>
				</div>
				<iframe class="post_youtube" width="90%" height="320" src="https://www.youtube.com/embed/<%= post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<% end %>
		</div>
		
	</div>
</div>
<%= render 'layouts/user_footer' %>
