<%= render 'layouts/user_header' %>
<div class="container">
	<div class="row">
		<div class="col-8">
			<h3>レビュー</h3>
			<!--レビュー一覧-->
			<% @user.review.reverse_each do |review| %>
			<div class="media border" style="margin-top: 20px;">
				<div class="media-left media-top text-center" style="margin-top: 10px; padding-left:10px;">
					<%= link_to user_path(review) do %>
					<% if review.user.profile_image? %>
					<%= image_tag review.user.profile_image.url, :size => '64x64' %>
					<% else %>
					<%= image_tag "/assets/no-image-icon.jpg", :size => '64x64' %>
					<% end %>
				</div>
				<div class="media-body" style="margin-left: 30px;">
					<div class="nickname" style="margin-bottom: 5px;">
					<strong><%= review.user.nickname %></strong>
				    </div>
					<p class="media-heading"><%= review.title %><%= review.comment %></p>
				</div>
			</div>
			<% end %>
			<% end %>
		</div>
		<div class="col-4">
			<h3>投稿</h3>
			<%= form_for [@user, @review] do |f| %>
			<div class="field row">
				<%= f.label :タイトル %>
				<%= f.text_field :title %>
			</div>
			<div class="field row">
				<%= f.label :レビュー %>
				<%= f.text_area :comment %>
			</div>
			<div class="actions row">
				<%= f.submit class: "btn btn-primary" %>
			</div>
			<% end %>
		</div>
	</div>
</div>
<%= render 'layouts/user_footer' %>