<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 60px;">
  <a class="navbar-brand" href="/"><%= image_tag "/assets/skiller.png", :size => '80x80' %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <% if user_signed_in? %>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%=link_to "マイページ", user_path(current_user.id), class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%=link_to "タイムライン", posts_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%=link_to "募集ページ", recruitment_posts_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%=link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link" %>
      </li>
    </ul>
    <% else %>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%=link_to "初めての方へ", home_about_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%=link_to "新規登録(無料)", new_user_registration_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%=link_to "ログイン", new_user_session_path, class:"nav-link" %>
      </li>
    </ul>
    <% end %>
    </div>
    <div class="form-inline my-2 my-lg-0">
      <%= form_with url:users_path, method: :get, local: true do %>
        <%= text_field_tag :search, params[:search], value:"", class:"form-control mr-sm-2", type:"search", placeholder:"ニックネーム検索" %>
        <%= submit_tag "Search", class:"btn btn-outline-info my-2 my-sm-0" %>
      <% end %>
    </div>
</nav>